<div class="container-center">
  <div class="new-task">
    <app-input 
      class="input_new-task"
      [type]="'textarea'"
      [name]="'new-task'"
      [(value)]="newTask" 
      >
    </app-input>
    <app-button 
      [label]="'new task'" 
      [disabled]="!newTask().trim()"
      [theme]="'new-task'" 
      (clicked)="onAddNewTask()" >
    </app-button>
  </div>

  <div class="task-list">

    @for(task of tasks; track $index){
    <div class="task-item">

      @if(task.editing()){
      <app-input 
        class="input_edit-task"
        [type]="'textarea'"
        [name]="'edit-task'"
        [(value)]="task.editText" 
        [appAutoFocus]="task.editing()">
      </app-input>
      {{ task.editing()}}
      <div class="buttons">
        <app-button 
          [label]="'save'" 
          [disabled]="!task.text().trim() || !task.editText().trim() "
          [theme]="'button_save'" 
          (clicked)="onSaveEditTask($index)" >
        </app-button>
        <app-button 
          [label]="'cancel'" 
          [theme]="'button_cancel'" 
          (clicked)="onCancelEditTask($index)" >
        </app-button>
      </div>
      }
      @else{
        {{task.text()}}
        <div class="buttons">
        <app-button 
          [label]="'delete'" 
          [theme]="'button_delete'" 
          (click)="onDeleteTask($index)" >
        </app-button>

        <app-button 
          [label]="'edit'" 
          [theme]="'button_edit'" 
          (clicked)="onStartEditTask($index)" >
        </app-button>
        </div>
      }
    </div>
    }
    @empty(){
      <p>You don't have tasks yet</p>
    }
  </div>
</div>