<div class="new-task">
    <textarea class="" [(ngModel)]="newTask"></textarea>
    <button (click)="onAddNewTask()" [disabled]="!newTask().trim()" >add new task</button>
</div>
<div class="task-list">
    @for(task of tasks; track $index){
        <div class="task-item">
            @if(task.editing()){
                <textarea class="input" [appAutoFocus]="task.editing()"
                [(ngModel)]="task.editText">
                </textarea>
                <button class="button-save" 
                    (click)="onSaveEditTask($index)"
                    [disabled]= "!task.text().trim()">
                    save
                </button>
                <button class="button-cancel" 
                    (click)="onCancelEditTask($index)">
                    cancel
                </button>
            }
            @else{
                {{task.text()}}
                <button class="task__button__delete" (click)="onDeleteTask($index)">delete this task</button>
                <button class="task__button__edit" (click)="onStartEditTask($index)">edit this task</button>
            }
        </div>   
    }
    @empty(){
        <p>You don't have tasks yet</p>
    }
</div>