:root {
  --light-shadow: #FAFBFF;
  --dark-shadow:
}

.input_new-task, .input_edit-task {
  width: 100%;
  height: 5rem;
  margin-right: 2rem;
}

.input_edit-task {  
  width: 100%;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.new-task {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.task-list{
  width: 100%;
  padding: 0 2rem;
  height: calc(100vh - 16rem);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.task-item {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid transparent;
  box-shadow: -2px -2px 3px #FAFBFF,
              3px 3px 3px rgba(22, 27, 29, 0.23);
  align-items: center;
  justify-content: space-between;
}

.task-item:first-child{
  margin-top: 1rem;
}

.buttons{
  display: flex;
  gap: 0.5rem;
  align-self: flex-start;
  padding: 0 2rem
}

.task-item_done{
  box-shadow: none;
  border: 1px solid #D2D6D9;
  background-color: #e0e4e8;
}