<div class="container-center">
  <div class="new-task">
    <app-input 
      class="input_new-task"
      [type]="'textarea'"
      [name]="'new-task'"
      [(value)]="newTask" 
      >
    </app-input>
    <app-button 
      [label]="'new task'" 
      [disabled]="!newTask().trim()"
      [theme]="'new-task'" 
      (clicked)="onAddNewTask()" >
    </app-button>
  </div>

  <div class="task-list">

    @for(task of sortedTasks(); track task.id){
    <div class="task-item" [class]="{'task-item_done': task.isDone()}">

      @if(task.editing()){
      <app-input 
        class="input_edit-task"
        [type]="'textarea'"
        [name]="'edit-task'"
        [(value)]="task.editText">
      </app-input>
      <div class="buttons">
        <app-button 
          [label]="'save'" 
          [disabled]="!task.editText().trim() "
          [theme]="'button_save'" 
          (clicked)="onSaveEditTask(task.id)" >
        </app-button>
        <app-button 
          [label]="'cancel'" 
          [theme]="'button_cancel'" 
          (clicked)="onCancelEditTask(task.id)" >
        </app-button>
      </div>
      }
      @else{
        <app-input 
          class="input_is-done"
          [type]="'checkbox'"
          [name]="'is-done'"
          [(value)]="task.isDone" 
        >
        </app-input>

        {{task.text()}}

        <div class="buttons">
          <app-button 
            [label]="'delete'" 
            [theme]="'button_delete'" 
            (click)="onDeleteTask(task.id)"
            [disabled]="task.isDone()" >
          </app-button>

          <app-button 
            [label]="'edit'" 
            [theme]="'button_edit'" 
            (clicked)="onStartEditTask(task.id)" 
            [disabled]="task.isDone()">
          </app-button>
        </div>
      }
    </div>
    }
    @empty(){
      <p>You don't have tasks yet</p>
    }
  </div>
</div>