/* You can add global styles to this file, and also import other style files */
:root{
  --text-main-color: #485359;
  --background-color: #EFF2F9;
  --accent-color: #FA6060;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html, body {
  height: 100%;
}

body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400; 
  font-size:1em;
  color: var(--text-main-color);
  background-color: var(--background-color);
  overflow-y: hidden;
}

/* Light */
@font-face {
  font-family: 'Quicksand';
  src: url('./app/assets/fonts/Quicksand/static/Quicksand-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Quicksand';
  src: url('./app/assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Quicksand';
  src: url('./app/assets/fonts/Quicksand/static/Quicksand-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}