
.input {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-main-color);
  background-color: #EFF2F9;
  width:100%;
  box-shadow: inset -2px -2px 3px #FAFBFF,
              inset 3px 3px 3px rgba(22, 27, 29, 0.23);
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  /*for textarea*/
  resize: none;
}

.input:focus{
  box-shadow: inset -4px -4px 6px #FAFBFF,
              inset 5px 5px 5px rgba(22, 27, 29, 0.23);
}

.neu-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.neu-checkbox input {
  display: none;
}

.neu-checkbox span {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: #EFF2F9; 
  display: inline-block;
  position: relative;
  box-shadow: inset -4px -4px 6px #FAFBFF,
              inset 5px 5px 5px rgba(22, 27, 29, 0.23);
  transition: all 0.3s ease;
}

.neu-checkbox input:checked + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 1rem;
  border: solid var(--text-main-color);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

